:root {
  --color-primary: #6b8e6e;      /* deeper sage */
  --color-secondary: #b7a77a;    /* muted sand */
  --color-background: #e5e4db;   /* stone */
  --color-surface: #c9cfc3;      /* soft moss */
  --color-text: #2d3a2e;         /* dark olive */
  --color-nav-bar: #a3b18a;      /* muted olive */
  --color-link: #23443b;         /* dark earthy green for better contrast */
  --color-accent: #8f9779;       /* muted green */
}
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-link)
}

a:hover {
  color: green
}

scroll-disabled {
  overflow: hidden;
}

scroll-enabled {
  overflow: visible;
}
