.container {
    height: 100px;
    display: flex;
    flex: 1;
    background-color: var(--color-nav-bar);
    justify-content: center;
}

.nav-item-container {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2rem;
}

.nav-item-current {
    text-decoration: underline;
}