.container {
    height: 100px;
    display: flex;
    flex: 1;
    background-color: #7f7f7f;
    justify-content: center;
}

.nav-item-container {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.nav-item {
    background-color: pink;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2rem;
}